#home-container {
  display: flex; }
  #home-container #feed-post {
    width: 80%;
    padding: 10px; }
  #home-container #user-friends {
    width: 20%;
    padding: 25vh 30px;
    border-left: 1px solid black;
    height: 100%; }
